:root {
  --second-family: var(--font-comfortaa), sans-serif;
}

.wrapper {
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  font-family: var(--second-family);
  color: #2f2f2f;
}

/* tablet */
@media (min-width: 768px) {
  .title {
    font-size: 28px;
  }
}

/* desktop */
@media (min-width: 1440px) {
  .title {
    font-size: 32px;
  }
}
