/*-----------------------------------------------------------------------------------*/
.image {
  object-fit: cover;
  object-position: center;
}
.avatarCircle {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
.avatarSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 16px;
}
.name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
}
.email {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 16px;
}
.uploadBtn {
  font-weight: 500;
  line-height: 1.6;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  height: 38px;
  width: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}
.uploadBtn:hover,
.uploadBtn:focus {
  background-color: #e8e8e8;
}
.uploadBtn:active {
  background-color: #ffcbd3;
  border-color: transparent;
}

@media (min-width: 768px) {
  .avatarSection {
    flex-direction: row;
    gap: 12px;
  }
  .avatarCircle {
    margin: 0;
  }
  .btnBox {
    padding: 15px 0;
  }
  .name,
  .email {
    text-align: left;
  }
  .uploadBtn {
    width: 218px;
  }
}
@media (min-width: 1440px) {
  .name {
    font-size: 24px;
  }
  .uploadBtn {
    height: 42px;
  }
  .avatarSection {
    width: 580px;
    padding: 16px 32px;
  }
}
/*-----------------------------------------------------------------------------------*/
