.gretBox {
  padding-top: 16px;
}
.entryDetails {
  display: none;
}

@media (min-width: 1440px) {
  .gretBox {
    padding-left: 32px;
  }
  .diaryBox {
    display: flex;
    gap: 32px;
    padding: 32px;
  }
  .entryDetails {
    display: block;
  }
}
