:root {
  --second-family: var(--font-comfortaa), sans-serif;
}
.wrapper {
  display: flex;
  gap: 16px;
  width: 100%;
}

.card {
  flex: 1 1 0;
  background-color: #fff4f6;
  border-radius: 24px;
  padding: 12px;
  min-height: 90px;
}

.label {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin-bottom: 4px;
}

.value {
  font-size: 28px;
  font-weight: 600;
  font-family: var(--second-family);
  color: #2f2f2f;
  border-bottom: 2px solid var(--color-accent);
  display: inline-block;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 32px;
  }

  .card {
    padding: 16px;
    border-radius: 28px;
    min-height: 100px;
  }

  .label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .value {
    font-size: 36px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 800px;
  }

  .value {
    font-size: 48px;
  }
}
