.formBox {
  height: 100%;
  min-height: 100vh;
}
.imageBox {
    position: relative;
    display: none;
  }

@media (min-width: 1440px) {
  .box {
    display: flex;
  }
  .formBox {
    width: 50%;
  }
  .imageBox {
    display: block;
    position: relative;
    width: 50%;
    min-height: 100vh;
  }
}

    .image {
    object-fit: cover;
  }
