.cont {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 0;
  width: 100%;
  max-width: 280px;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
}
.imageBox {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 12px;
}
.image {
  object-fit: cover;
  object-position: center;
}
.name {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}
.email {
  font-size: 12px;
  color: #777;
  margin: 0;
}
.logout {
  position: absolute;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}
.logout:active {
  opacity: 0.7;
}
/* @media (max-width: 768px) {
  .cont {
    padding-left: 16px;
  }
} */
/* ===== TABLET ===== */
@media (max-width: 1440px) {
  .wrapper {
    padding: 12px 16px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .wrapper {
    padding: 10px 12px;
    border-top: none;
  }

  /* .email {
    display: none;
  } */
}
