.babycard {
    padding: 20px;
    background: #fff4f6;
    border-radius: 32px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.titleBaby {
    font-family: "Comfortaa", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #000;
}

.babycard__listitem {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
}

.label {
    font-weight: 700;
    padding-right: 5px;
    font-size: 14px;
}

.value {
    font-weight: 400;
    font-size: 14px;
}

.babyImage {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 16px;
    flex-shrink: 0;
}

.babycard__list {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #000;
    list-style: none;
    padding-left: 0;
    margin: 0;
    min-width: 0;
}

.babycard__datalabel {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #000;
    padding-bottom: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.babycard__advice {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    padding-top: 20px;

    overflow-wrap: break-word;
}

.bodyAdvice {
        padding: 24px 0 0;
}

.advice {
  font-size: 14px;
  line-height: 1.5;
}



/* 🔹 TABLET LARGE (768px+) */
@media (min-width: 768px) {
    .babycard {
        padding: 32px 20px;
        width: auto;
        max-width: 704px;
    }

    .titleBaby {
        font-size: 20px;
        font-weight: 700;
    }

    .babycard__listitem {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 16px;
    }

    .babyImage {
            width: auto;
            height: auto;
            padding: 0;
            flex-shrink: 0;
            margin-top: 0;

        }

    .babycard__list {
        font-size: 14px;
    }

    .babycard__datalabel {
        font-size: 16px;
    }

    .babycard__advice {
        font-size: 14px;
    }
}


@media (min-width: 1440px) {
    .babycard {
        padding: 48px;
        max-width: 642px;
        border-radius: 24px;
    }

    .titleBaby {
        font-size: 24px;
    }

    .babycard__advice {
        font-size: 16px;
    }

    .babycard__list {
        font-size: 16px;
        padding: 0;
    }

    .babyImage {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    width: 257px;
    height: 194px;
    padding: 0;
    }

        .label {
            font-weight: 700;
            padding-right: 5px;
            font-size: 16px;
        }

        .value {
            font-weight: 400;
            font-size: 16px;
        }
    .advice {
        font-weight: 400;
        font-size: 16px;
}
    }

